.navbar {
    overflow: hidden;
    background-color: purple;
    width: 100%;
    height: 50px; 
    position: fixed; 
  }

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}